repository-list {
    display: block;
}
repository-list.loading {
    background-image: url('/bin/octocat-spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
