body {
    font-family: monospace;
}

flow-step {
    display: block;
}

aside {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    padding: 40px 10px;
    box-sizing: border-box;
}

main {
    position: relative;
    padding-left: 40px;
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 40px;
}


language {
    color: white;
    display: inline-block;
    padding: 4px;
    background: #999;
    border-radius: 5px;
}
language.javascript { background: coral; }
language.java, language.scala { background: red; }
language.html { background: orange; }
language.python, language.php, language.lua { background: navy; }
language.cpp, language.c { background: black; }
language.typescript, language.coffeescript, language.groovy { background: magenta; }

.loading {
    background-image: url('/bin/octocat-spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
